
#main {
    flex-basis: 100%;
}

@media print {
    body {
        font-size: 18px;
    }

    h4 {
        font-size: 24px;
    }

    #header,
    #footer,
    .print-btn,
    .filter-form,
    .breadcrumbs {
        display: none !important;
    }

    #content {
        background-color: #fff !important;
        padding: 0 !important;
    }

    .table td {
        padding: 3px;
        font-weight: 500;
        font-size: 18px;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid #000 !important;
    }

    a {
        color: #333 !important;
        text-decoration: none !important;
    }
}

body.hidden-breadcrumbs .breadcrumbs {
    display: none !important;
}

body.hidden-breadcrumbs #container #content {
    padding-top: 20px !important;
}

.change-form .edit-row .col-right {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-left: 230px;
    margin: 0;
}

.change-form .edit-row .col-right .submit-row {
    padding: 10px;
    border-top: 2px solid #7a7a7a;
    background: #fff;
}

.change-form #container.collapsed .edit-row .col-right {
    padding-left: 46px;
}

.change-form.popup #container .edit-row .col-right,
.change-form.popup #container.collapsed .edit-row .col-right {
    padding-left: 0;
}

#footer {
    display: none !important;
}

.form-row input[type=checkbox] {
    width: 25px;
    height: 25px;
}

.form-row input[type=number] {
    width: 100%;
}

.col-multi-fields .multi-field {
    flex-basis: 250px;
}

.related-widget-wrapper {
    position: relative;
}

.related-widget-wrapper-link {
    position: absolute;
    top: -20px;
}

.related-widget-wrapper-link.change-related {
    right: 15px;
}

.related-widget-wrapper-link.add-related {
    right: 31px;
}

.related-widget-wrapper-link.delete-related {
    right: 0;
}

#changelist {
    justify-content: space-between;
    gap: 10px;
}

#changelist #changelist-filter ul {
    max-height: 350px;
    overflow-y: auto;
}

#changelist #changelist-filter ul li a {
    padding-left: 2px;
}

.changelist-form-container {
    flex: 1;
}

@media (max-width: 1024px) {
    #header {
        padding: 0 !important;
    }

    #changelist-filter {
        position: fixed;
        background: #fff;
        z-index: 2;
        height: 100%;
        overflow: auto;
    }
}

.admindatefilter {
    padding-top: 10px;
}

.select2-container--admin-autocomplete.select2-container {
    width: 100% !important;
}

.content #content > h1 {
    display: none;
}

.content > .messagelist {
    display: none;
}
