
@media print {
    body {
        font-size: 18px;
    }

    h4 {
        font-size: 24px;
    }

    #header,
    #footer,
    .print-btn,
    .filter-form,
    .breadcrumbs {
        display: none !important;
    }

    #content {
        background-color: #fff !important;
        padding: 0 !important;
    }

    .table td {
        padding: 3px;
        font-weight: 500;
        font-size: 18px;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid #000 !important;
    }

    a {
        color: #333 !important;
        text-decoration: none !important;
    }
}

body.hidden-breadcrumbs .breadcrumbs {
    display: none !important;
}

body.hidden-breadcrumbs #container #content {
    padding-top: 20px !important;
}

.change-form .edit-row .col-right {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-left: 230px;
    margin: 0;
}

.change-form .edit-row .col-right .submit-row {
    padding: 10px;
    border-top: 2px solid #7a7a7a;
    background: #fff;
}

.change-form #container.collapsed .edit-row .col-right {
    padding-left: 46px;
}

.change-form.popup #container .edit-row .col-right,
.change-form.popup #container.collapsed .edit-row .col-right {
    padding-left: 0;
}

#footer {
    display: none !important;
}


@media (max-width: 1024px) {
    #header {
        padding: 0 !important;
    }

    #changelist-filter {
        position: fixed;
        background: #fff;
        z-index: 2;
        height: 100%;
        overflow: auto;
    }
}
