
.sidebar-username {
    color: #fff;
}

.suit-user-tools {
    position: relative;
}

.toggle-sidebar-btn {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fff;
}

.toggle-sidebar-btn:hover,
.toggle-sidebar-btn:focus {
    text-decoration: none;
}

#container.collapsed #header .toggle-sidebar-btn {
    top: auto;
    bottom: 0;
}

.toggle-sidebar-btn .fa-chevron-right {
    display: none;
}

#container.collapsed #header .fa-chevron-right {
    display: inline;
}

#container.collapsed #header .fa-chevron-left {
    display: none;
}

#container.collapsed #header .sidebar-username {
    display: none;
}

#container.collapsed #header {
    width: 46px !important;
}

#container.collapsed #header #user-tools {
    padding: 0;
    height: 90px;
}

#container.collapsed #header #branding,
#container.collapsed #header .user-links {
    display: none;
}

#container.collapsed #header #suit-nav li a {
    white-space: nowrap;
    overflow: hidden;
    padding: 14px;
}

#container.collapsed #header #suit-nav li a i {
    padding-right: 10px;
    font-size: 17px;
}

#container.collapsed #header #suit-nav li.active .sub-nav {
    display: none;
}

#container.collapsed #header #suit-nav li.active:hover .sub-nav {
    display: block;
    position: absolute;
    z-index: 1;
    left: 40px;
    top: 0
}

#container.collapsed #suit-nav > ul > li.active:after {
    display: none;
}

#container.collapsed .breadcrumbs {
    left: 46px !important;
}
