{% extends 'admin/change_list.html' %}
{% load i18n admin_list cap_list %}

{% block search %}{% cap_search_form cl %}{% endblock %}

{% block filters %}
    {% if cl.has_filters %}
        <div id="changelist-filter">{% for spec in cl.filter_specs|cap_list_filter_vertical:cl %}
            {% admin_list_filter cl spec %}
        {% endfor %}</div>
    {% endif %}
{% endblock %}

{% block footer %}
    {{ block.super }}

    {% if cl.has_filters %}
        <script type="text/javascript">
            // Handle change list filter null values
            Cap.$('.search-filter').capSearchFilters();
        </script>
    {% endif %}
{% endblock %}
